.d_none {
  display: none;
}

/* Hintergrundfarbe der gesamten Seite */
body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Tabelle */
table {
  border-collapse: collapse; /* Zusammenführen der Ränder innerhalb der Tabelle */
  margin: 20px auto;
}

/* Zellen */
table td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  border: 5px solid white; /* Standard: Weiße Trennlinien */
  cursor: pointer;
}

/* Entferne äußere Ränder */
table tr:first-child td {
  /* Oberer Rand */
  border-top: 0;
}
table tr:last-child td {
  /* Unterer Rand */
  border-bottom: 0;
}
table tr td:first-child {
  /* Linker Rand */
  border-left: 0;
}
table tr td:last-child {
  /* Rechter Rand */
  border-right: 0;
}

/* Spielerfarben */
td.cross {
  color: yellow;
}

td.circle {
  color: blue;
}
